Client/node_modules/
Client/public/bundle.js
Client/coverage
Server/node_modules
Server/bin
Server/obj
Server/wwwroot/bundle
Server/Properties
Server/Users.db
ProjectAstolfo/bin
ProjectAstolfo/obj
UnitTests/bin
UnitTests/obj
.vs
IntegrationTests/obj
IntegrationTests/bin
FunctionalityTests/obj
FunctionalityTests/bin
websocket-sharp/obj
websocket-sharp/bin