@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DirtyClient</title>
</head>
<body>
    <div id="root">Loading...</div>
    <script src="~/bundle/bundle.js"></script>
</body>
</html>